header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 20px;
    background-color: #9cade4;
    gap: 40px;
}

.logo {
    height: 150px;
    cursor: pointer;
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

nav a:hover {
    color: red;
}


fieldset {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    width: fit-content;
}


 html, body {
    height: 100%;       
    margin: 0;          
}

body {
    display: flex;
    flex-direction: column;  
}

footer {
    margin-top: auto;   
    padding: 20px;
    background-color: #9cade4;
    text-align: center;
}

table {

    border-collapse: collapse;
    width: 60%;
    margin: 25px auto;
}

